<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
   <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
</head>


<body>
 <div class="main-content">
        {{>header}}
        <p>Openweathermap.org.</p>
        <img class="portrait" src="/img/me.jpg">
    </div>

    {{>footer}}
</body>


</html>